<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IJF</title>
    <meta charset="UTF-8"/>
    <meta name="token" th:content="${atlassianConnectToken}"/>

    <link type="text/css" href="tbd" th:href="@{${ijfRoot} + '/css/craft.css'}" rel="stylesheet" />
    <link type="text/css" href="tbd" th:href="@{${ijfRoot} + '/css/theme-neptune-all_1.css'}" rel="stylesheet" />
    <link type="text/css" href="tbd" th:href="@{${ijfRoot} + '/css/theme-neptune-all_2.css'}" rel="stylesheet" />
    <link type="text/css" href="tbd" th:href="@{${ijfRoot} + '/css/charts-all.css'}" rel="stylesheet" />
    <link type="text/css" href="tbd" th:href="@{${ijfRoot} + '/css/charts-all-rtl.css'}" rel="stylesheet" />
    <link type="text/css" href="tbd" th:href="@{${ijfRoot} + '/css/material-ui.css'}" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


    <script src="tbd" th:src="@{${ijfRoot} + '/js/react.js'}" type="text/javascript"></script>
    <script src="tbd" th:src="@{${ijfRoot} + '/js/react-dom.js'}" type="text/javascript"></script>
    <script src="tbd" th:src="@{${ijfRoot} + '/js/material-ui.js'}" type="text/javascript"></script>
    <script src="tbd" th:src="@{${ijfRoot} + '/js/ext-all_7.js'}" type="text/javascript"></script>
    <script src="tbd" th:src="@{${ijfRoot} + '/js/moment.js'}" type="text/javascript"></script>
    <script src="tbd" th:src="@{${ijfRoot} + '/js/FileSaver.min.js'}" type="text/javascript"></script>
    <script src="tbd" th:src="@{${ijfRoot} + '/js/xumenter.js'}" type="text/javascript"></script>
    <script src="tbd" th:src="@{${ijfRoot} + '/js/jszip_v2.js'}" type="text/javascript"></script>
    <script src="tbd" th:src="@{${ijfRoot} + '/js/diff.js'}" type="text/javascript"></script>

    <script src="tbd" th:src="@{${ijfRoot} + '/js/craft.js'}" type="text/javascript"></script>
    <script src="tbd" th:src="@{${ijfRoot} + '/js/ijf_utils.js'}" type="text/javascript"></script>
    <script src="tbd" th:src="@{${ijfRoot} + '/js/ijf_model.js'}" type="text/javascript"></script>
    <script src="tbd" th:src="@{${ijfRoot} + '/js/ijf_main.js'}" type="text/javascript"></script>
    <script src="tbd" th:src="@{${ijfRoot} + '/js/ijf_framework.js'}" type="text/javascript"></script>
    <script src="tbd" th:src="@{${ijfRoot} + '/js/ijf_lists.js'}" type="text/javascript"></script>

    <script src="tbd" th:src="@{${ijfRoot} + '/js/ijf_versionadmin.js'}" type="text/javascript"></script>

    <script src="tbd" th:src="@{${ijfRoot} + '/js/ijf_ext_utils.js'}" type="text/javascript"></script>
    <script src="tbd" th:src="@{${ijfRoot} + '/js/ijf_react_utils.js'}" type="text/javascript"></script>
    <script src="tbd" th:src="@{${ijfRoot} + '/js/ijf_dataservices.js'}" type="text/javascript"></script>
    <script src="tbd" th:src="@{${ijfRoot} + '/js/ijf_admin.js'}" type="text/javascript"></script>

    [(${ijfHtmlReferences})]

    <script>

        g_username = "[(${ijfUsername})]";
        g_version = "[(${ijfVersion})]";
        g_iwfFormSetId = "firstFormSet";
        g_formId = "[(${ijfFormId})]";
        g_itemId = "[(${ijfItemId})]";
        g_debug =  "[(${ijfDebug})]";
        g_root = "[(${ijfRoot})]";
        g_imagesRoot = "[(${ijfRoot})]/images/";
        g_args =  '';
        g_craft = "[(${ijfCraft})]";
        g_dashboard = '';
        g_configDir = 'IJF_Configuration';
        g_IftProduct = "[(${ijfProduct})]";

    </script>

    <script>
        var getJwtToken = function ()
        {
            return  $('meta[name="token"]').attr("content");
        }
        var getIjfRoot = function ()
        {
            return "[(${ijfRoot})]";
        }
    </script>
    <script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
</head>
<body style="background:transparent">
<div id = 'ijfOuterContainer'>
    <div id='ijfHead' class='cwf-header'></div>
    <div id='ijfContent'  class='cwf-content'></div>
    <div id='ijfFoot' class='cwf-footer'></div>
</div>
<div id='ijfManage'></div>
<div id='ijfJsonUpload'></div>
<div id='ijfCraft1'></div>
<div id='ijfAdmin1'></div>
<div id='ijfDebug'></div>

<script type="text/javascript">
    var ijf = ijf || {};
    ijf.snippets = (function(){
        var enabled=true;
        [(${ijfScript})]
        return{
            enabled:enabled
                [(${ijfSnippetPub})]
        };
    })();
</script>
<style>
    [(${ijfStyle})]
</style>
</body>
</html>
